*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "Font Scritte";
    src: url(Poppins-Medium.ttf);
}

@font-face {
    font-family: "Font Titolo";
    src: url(Poppins-Bold.ttf);
}

:root{
    --blu: rgb(9, 12, 54);
    --bluhover: rgb(11, 15, 77);
    --bianco: #ffff;
    --azzurro: #55B1F5;
    --azzurrino: rgba(167, 242, 252, 0.507);

    --ombra: 0px 0px 20px 0px rgba(0,0,0,0.4);

}
#partesopra{
    height: 500px;
    width: 100%;
    background-color: var(--blu);
}
.btn{
    height: 37px;
    width: 150px;
    background-color: var(--azzurro);
    font-family: "Font Scritte";
    color: var(--bianco);
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
    border:none;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.01);
}


#titolo{
    height: 50px;
    width: 30px;
    font-size: 54px;
    color: var(--bianco);
    font-family: "Font Titolo";
    position: absolute;
    top: 150px;
    left: 220px;
}
#passion{
    color: var(--azzurro);
}
#slogan{
    color: var(--azzurrino);
    font-size: 20px;
    position: absolute;
    top: 210px;
    left: 500px;
    font-family: "Font Scritte";
    font-size: 30px;

}
#linea{
    background-color: var(--bianco);
    height: 200px;
    width: 9px;
    position: absolute;
    top: 140px;
    left: 450px;
    border-radius: 3px;
}
#ImgRobot{
    height: 300px;
    position: absolute;
    top: 100px;
    left: 40px;
    animation: animation 1s ease-in-out 0s infinite alternate;
}
@keyframes animation{
    from{transform: translateY(0PX);}
    to{transform: translateY(10px);}
    
}

#menu{
    background: none;
    width: 400px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    top: 10px;
    margin:0 auto;
    cursor: pointer;
    color: var(--bianco);
    font-family: "Font Scritte";
    transition: all 0.2s ease-in-out;
}
.menuTab{
    margin: 15px;
}
.menuTab:hover{
    color: var(--azzurro);
    transform: scale(1.01);
}
#car{
    width: 400px;
    height: 300px;
    position: absolute;
    top: 270px;
    right: 20px;
    animation: animazione 1s ease-in-out 0s infinite alternate;

}
@keyframes animazione{
    from{transform: translateX(0px);}
    to{transform: translateX(10px);}
}

#ParteSotto{
    background-color: var(--azzurrino);
    height: 1000px;
    margin: 0px 0px 0px 0px;

}

#infobox{
    font-family: "Font Titolo";
    font-size: 55px;
    width: 800px;
    position: relative;
    top: 90px;
    left: 120px;
    color: var(--blu);
}
#info{
    font-family: "Font Scritte";
    font-size: 20px;
    position: relative;
    top: 40px;
    height: 100px;
    width: 630px;
    color: black;
    
}
#ServerDiscord{
    color: var(--blu);
    cursor: pointer;
    text-decoration: underline;
}
#DivDiscord{
    font-size: 55px;
    font-family: "Font Titolo";
    color: var(--blu);
    width: 600px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    top: 380px;
    margin:0 auto;


}